.form-reset-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-reset {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-reset .form-floating:focus-within {
    z-index: 2;
}

.form-reset #password {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-reset #password_confirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
