.form-forgot-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-forgot {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-forgot .form-floating:focus-within {
    z-index: 2;
}

.form-forgot input[type="email"] {
    margin-bottom: 10px;
}
