@font-face {
    font-family: 'UniversLT';
    /*src: url('webfont.eot'); !* IE9 Compat Modes *!*/
    src: /*url('webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
        url('./../fonts/UniversLT55Roman.woff') format('woff'), /* Modern Browsers */
        url('./../fonts/UniversLT55Roman.ttf') format('truetype') /* Safari, Android, iOS */
        /*url('webfont.svg#svgFontName') format('svg')*/; /* Legacy iOS */
}

body {
    font-family: UniversLT, sans-serif;
    font-size: 12pt;
}

.container-lg {
    padding-top: 2rem;
}

.form-incoperfil {
    background-color: #c41100;
    color: #FFF;
    padding: 2rem;
}

.form-incoperfil .btn-primary {
    background-color: #f1f3f2;
    border-color: #f1f3f2;
    color: #000;
}

.form-incoperfil .btn-primary:hover {
    background-color: #e0e1e4;
    border-color: #e0e1e4;
    color: #000;
}

.form-incoperfil .form-control-plaintext {
    color: #FFF;
}

.form-incoperfil .invalid-feedback {
    color: #ffc107 !important;
}

.form-incoperfil .is-required:after {
    content: ' *';
}

.fs-small {
    font-size: small !important;
}